<nav class="navbar navbar-expand-sm bg-primary  navbar-white">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Phòng Mạch Bảo Khang</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Trang chủ</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">
                        Chào {{ current_user.name }}.
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/logout">Đăng xuất</a>
                </li>
                {% if current_user.user_role.value == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Quản trị viên</a>
                </li>
                {% elif current_user.user_role.value == 'doctor' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/quanlyphieukham">Trang bác sĩ</a>
                </li>
                {% elif current_user.user_role.value == 'nurse' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/datlich">Đặt lịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/quanlydanhsachkham">Danh sách khám bệnh</a>
                </li>
                {% elif current_user.user_role.value == 'cashier' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/thanhtoan">Thanh toán</a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Đăng nhập</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>