body {
    background-color: white;
    color: darkblue;
}

.carousel-inner img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.carousel-custom {
    margin-top: 30px;
}

.btn-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #10C57F;
    animation: bounce 2s infinite;
    border: none;
}


.btn-floating:focus,
.btn-floating:active,
.btn-floating:hover {
    background-color: #10C57F;
    color: white;
    box-shadow: none;
}

/* Animation cho nút */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.modal-body a {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin: 10px 0;
}

.contact-link {
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.contact-link i {
    margin-right: 10px;
    font-size: 20px;
}

.contact-link:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.contact-link:active {
    color: #004085;
}

/* Thêm vào CSS */
#patient-list {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#patient-list.show {
    opacity: 1;
    transform: translateY(0);
}

#patient-list.hide {
    opacity: 0;
    transform: translateY(-20px);
}

/* Hiệu ứng cho bảng */
.table th, .table td {
    transition: background-color 0.3s ease;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

/* Nút xác nhận toàn bộ */
#confirm-day {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#confirm-day:hover {
    background-color: #28a745;
    transform: scale(1.05);
}

.text-input {
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
    outline: none;
}

.text-input[readonly] {
    cursor: default;
}

.text-input:not([readonly]) {
    cursor: text;
    border-bottom: 1px solid #000; /* Gạch chân khi có thể chỉnh sửa */
    background-color: transparent
}

.hidden {
    display: none;
}